.page-wrap {
  min-height: calc(100vh - 67px);
}

#avatar {
	width: 30px;
  object-fit: cover;
	border-radius: 50px;
}

#google-logo {
	padding-top: 5%;
}

nav.navbar#header-nav {
	display: flex;
	float: right;
	background-color: white;
	border: none;
}

nav.navbar ul#header-list {
	display: flex;
}

div.form-group {
	position: relative;
	width: 500px;
}

div.form-group div{
	display: flex;
  justify-content: center;
}

div.form-group div button{
	margin: 0px 5px 0px 5px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px 0px 16px;
	text-align: center;
	height: 36px;
}

div.form-group div button:hover {
	font-weight: bold;
	color: #222;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border-radius: 2px;
	border: 1px solid #c6c6c6;
	height: 36px;
}

a#voice-search {
	position: absolute;
	top: 5px;
	right: 0px;
	padding: 0px 5px 0px 5px;
}

input.form-control {
	width: 100%;
	height: 44px;
	margin: 25px 0px 25px 0px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}

nav.navbar#footer-1-nav {
	border-radius: 0px;
	margin-bottom: -5px;
}

nav.navbar#footer-1-nav > ul > li > a{
	color: #666
}

nav.navbar ul#footer-1-list {
	display: flex;
	color: #666;
}

nav.navbar ul#footer-2-list {
	display: flex;
	float: right;
}